%h1=chapter.title

%table
  %tr
    %th Text
    %th Type
    %th
    %th
    %th

  - sentences.each do |sentence|
    %tr
      %td= sentence.text
      %td= sentence.type
      %td= link_to 'Show', [book,chapter,sentence]
      %td= link_to 'Edit', edit_book_chapter_sentence_path(book,chapter,sentence)
      %td= link_to 'Destroy', [book,chapter,sentence], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Sentence', new_book_chapter_sentence_path(book,chapter)
