%p#notice= notice

%p
  %b Text:
  = sentence.text
%p
  %b Type:
  = sentence.type

= link_to 'Edit', edit_book_chapter_sentence_path(book,chapter,sentence)
\|
= link_to 'Back', book_chapter_sentences_path(book,chapter)
