<% title "Chapters" %>

<table>
  <tr>
    <th>Title</th>
    <th>Book</th>
  </tr>
  <% for chapter in @chapters %>
    <tr>
      <td><%= chapter.title %></td>
      <td><%= chapter.book %></td>
      <td><%= link_to "Show", chapter %></td>
      <td><%= link_to "Edit", edit_chapter_path(chapter) %></td>
      <td><%= link_to "Destroy", chapter, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Chapter", new_chapter_path %></p>
